* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

.button {
  width: max-content;
}

.each-todo {
  display: flex;
  justify-content: space-between !important;
}
